<!DOCTYPE html>
<html>
  <head>
    {{> header}}
    <link rel = 'stylesheet' type = 'text/css' href = 'css://touch.css' />
    <script type='text/javascript' src='js://button_grid.js' charset='utf-8'></script>
    <script type='text/javascript' src='js://control.js' charset='utf-8'></script>
  </head>
  <body>
    <div class='flowgrid' start='main'>
      <div id='main' class='flowgrid-content' width=3 height=2 cWidth=25 cHeight=35>
        <a id='te_i' class='element-on flowgrid-cell flowgrid-input' row=0 column=0 flow='te'>
          <div class='input-image tea'>
          </div>
          <span class='input-text'>
            {{Language.tea}}
          </span>
        </a>

        <a id='espresso_i' class='element-on flowgrid-cell flowgrid-input' row=0 column=1 flow='espresso'>
          <div class='input-image espresso'>
          </div>
          <span class='input-text'>
            {{Language.espresso}}
          </span>
        </a>

        <a id='milk_i' class='element-on steam-on flowgrid-cell flowgrid-input' row=0 column=2 flow='milk'>
          <div class='input-image steam'>
          </div>
          <span class='input-text'>
            {{Language.steam}}
          </span>
        </a>

        <a id='coffee_i' class='create-brew timer-on filter-on flowgrid-cell flowgrid-input' row=1 column=0 cspan=3 flow='brew'>
          <div class='input-image kettle'>
          </div>
          <span class='input-text'>
            {{Language.brew}}
          </span>
        </a>
      </div>

      <div id='te' class='flowgrid-content' width=2 height=3 cWidth=30 cHeight=30>
        <span class='flowgrid-cell info-text' row=0 column=0 cspan=2>{{Language.info.teaStart}}</span>

        <a class='all-off flowgrid-cell flowgrid-input' row=1 column=0 flow='main'>
          <div class='input-image arrow'>
          </div>
          <span class='input-text'>
            {{Language.back}}
          </span>
        </a>

        <a class='create-tea pump-on flowgrid-cell flowgrid-input' row=1 column=1 flow='stop'>
          <div class='input-image tea'>
          </div>
          <span class='input-text'>
            {{Language.tea}}
          </span>
        </a>

        <span class='flowgrid-cell info-text' row=2 column=0 cspan=2>{{Language.info.teaEnd}}</span>
      </div>

      <div id='espresso' class='flowgrid-content' width=2 height=3 cWidth=30 cHeight=30>
        <span class='flowgrid-cell info-text' row=0 column=0 cspan=2>{{Language.info.espressoStart}}</span>

        <a class='all-off flowgrid-cell flowgrid-input' row=1 column=0 flow='main'>
          <div class='input-image arrow'>
          </div>
          <span class='input-text'>
            {{Language.back}}
          </span>
        </a>

        <a class='create-espresso pump-on flowgrid-cell flowgrid-input' row=1 column=1 flow='stop'>
          <div class='input-image espresso'>
          </div>
          <span class='input-text'>
            {{Language.espresso}}
          </span>
        </a>

        <span class='flowgrid-cell info-text' row=2 column=0 cspan=2>{{Language.info.espressoStart}}</span>
      </div>

      <div id='milk' class='flowgrid-content' width=2 height=3 cWidth=30 cHeight=30>
        <span class='flowgrid-cell info-text' row=0 column=0 cspan=2>{{Language.info.milkStart}}</span>

        <a class='all-off flowgrid-cell flowgrid-input' row=1 column=0 flow='main'>
          <div class='input-image arrow'>
          </div>
          <span class='input-text'>
            {{Language.back}}
          </span>
        </a>

        <span class='flowgrid-cell info-text' row=2 column=0 cspan=2>{{Language.info.milkENd}}</span>
      </div>

      <div id='brew' class='flowgrid-content' width=3 height=3 cWidth=30 cHeight=30>
        <span class='flowgrid-cell info-text' row=0 column=0 cspan=3 rspan=2>{{Language.info.brew}}</span>

        <a class='all-off flowgrid-cell flowgrid-input' row=2 column=0 flow='main'>
          <div class='input-image arrow'>
          </div>
          <span class='input-text'>
            {{Language.stop}}
          </span>
        </a>

        <span class='flowgrid-cell info-text' row=2 column=1 cspan=2>{{Language.info.brewTimer}}</span>
        <span class='timer flowgrid-cell info-text' row=2 column=2></span>
      </div>

      <div id='stop' class='flowgrid-content' width=2 height=3 cWidth=40 cHeight=25>
        <span class='flowgrid-cell super-info-text' row=0 column=0 cspan=2>{{Language.info.stop}}</span>

        <a class='all-off flowgrid-cell flowgrid-input' row=1 column=0 cspan=2 rspan=2 flow='main'>
          <div class='input-image arrow'>
          </div>
          <span class='input-text'>
            {{Language.stop}}
          </span>
        </a>
      </div>
    </div>
  </body>
</html>
