html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  width: 100%;
  height: 100%;
  background-color: #111111;
}

.flowgrid {
  position: absolute;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
}

.flowgrid-content {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
}

.flowgrid-cell {
  position: absolute;
  padding:5px 15px;
  border:0 none;
}

.flowgrid-input {
  background:#bbbbbb;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.input-image {
  display: block;
  width: 100%;
  height: 70%;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  background-origin: content-box !important;
  padding-top: 1vh;
}

.input-text {
  display: block;
  width: 100%;
  height: 18%;
  padding-top: 2vh;
  text-align: center;
  color: #000000;
  font-size: 1.5em;
}

.espresso {
  background-image: url('img://espresso.png');
}

.tea {
  background-image: url('img://tea.png');
}

.arrow {
  background-image: url('img://arrow.png');
}

.steam {
  background-image: url('img://steam.png');
}

.kettle {
  background-image: url('img://kettle.png');
}

.super-info-text {
  font-size: 1.75em;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 180px;
  color: #eeeeee;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.info-text {
  font-size: 1.25em;
  display: inline-block;
  vertical-align: middle;
  line-height: 180px;
  color: #eeeeee;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
