html {
  overflow: hidden;
}

.flowgrid {
  position: absolute;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
}

.flowgrid-content {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
}

.flowgrid-content input {
  position: absolute;
  padding:5px 15px;
  background:#ccc;
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
